.env
.idea
*.pyc
abfall_bilanz/Benutzerhandbuch_eADok_V1.140.pdf
abfall_bilanz/balance
abfall_anlagenverzeichnis/EDM_CodelistenWebservice_v1.00_Beschreibung.pdf
abfall_anlagenverzeichnis/eRAS-Registerabfrage_Schnittstellenbeschreibung_v1.0.pdf
